@{
    if (ViewBag.MensagemAlerta != null && ViewBag.MensagemAlerta != "")
    {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">
                ×</button>
            @Html.Raw(ViewBag.MensagemAlerta)
        </div>
    }
    if (ViewBag.MensagemSucesso != null && ViewBag.MensagemSucesso != "")
    {
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">
                ×</button>
            @Html.Raw(ViewBag.MensagemSucesso)
        </div>
    }
}